body {
    background-color: #ccc;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.h1 {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: center;
}

#research-container {
    background-color: #fff;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.p {
    margin: 0;
    padding: 5px 0;
}

.field-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.field-value {
    margin-bottom: 30px;
}

#application-form{
    background-color: #fff;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#email {
    width: 60%;
    margin-bottom: 20px;
}

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

.apply-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 230px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #0056b3;
}