body {
    background-color: #ccc;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field-label {
    font-weight: bold;
    margin-bottom: 5px;
    /*margin-top: 15px;*/
}

.field-value {
    margin-bottom: 12px;
}

.research-card{
    background-color: #fff;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#submitBtn {
    background-color: green;
    color: #fff;
    padding: 10px 230px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}


#submitBtn:hover {
    background-color: darkgreen;
}

.update-button {
    background-color: dodgerblue;
    color: #fff;
    padding: 10px 230px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.update-button:hover{
    background-color: blue;
}

.delete-button {
    background-color: red;
    color: #fff;
    padding: 10px 230px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.delete-button:hover{
    background-color: darkred;
}

.applicants-button {
    background-color: mediumpurple;
    color: #fff;
    padding: 10px 220px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.applicants-button:hover{
    background-color: rebeccapurple;
}

.update-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.update-card label {
    display: block;
    margin-bottom: 5px;
}

.update-card input,
.update-card textarea,
.update-card select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.update-card button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.update-card button.cancelBtn {
    background-color: #f44336;
    margin-left: 10px;
}