body {
    background-color: #ccc;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.research-card {
    background-color: #fff;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.field-label {
    font-weight: bold;
    margin-bottom: 5px;
}

/*.field-value {*/
/*    margin-left: 30px;*/
/*}*/

.research-card div {
    margin-bottom: 5px;
}

.apply-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 230px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #0056b3;
}
